  <div id=footer>
    <div class=fright>
      <a href=#privacy>Privacy Policy</a> | 
      <a href=#tos>Terms and Conditions</a> | 
      <a href=mailto:feedback@getbummer.com>Contact Us</a>
      &nbsp;
      <!-- <a href=#><img src="/assets/nav/footer-rss.png"></a> -->
      <a href=http://www.facebook.com/GetBummer><img src="/assets/nav/footer-fb.png"></a>
      <a href=https://twitter.com/GetBummer><img src="/assets/nav/footer-twitter.png"></a>
    </div>
    <div class=fleft>
      &copy; 2012 <a href=#about>GetBummer</a>. All Rights Reserved.
    </div>
  </div>
