<!DOCTYPE html>
<html>
<head>
  <title>Bummer!</title>
  <%= include_stylesheets :all %>
  <%= include_javascripts :app %>
  <%= csrf_meta_tags %>
<script type="text/javascript">
    $(function(){
      main();
    });

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32948210-1']);
  _gaq.push(['_setDomainName', 'getbummer.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  _gaq.push(['_trackPageview', '/main']);

</script>
</head>
<body>
  <div id=header-stripe>
  </div>
  <div id=main>
    <%= yield %>
  </div>
  <div id=footer>
    <div class=fright>
      <a href=#privacy>Privacy Policy</a> | 
      <a href=#tos>Terms and Conditions</a> | 
      <a href=mailto:feedback@getbummer.com>Contact Us</a>
      &nbsp;
      <!-- <a href=#><img src="/assets/nav/footer-rss.png"></a> -->
      <a href=http://www.facebook.com/GetBummer><img src="/assets/nav/footer-fb.png"></a>
      <a href=https://twitter.com/GetBummer><img src="/assets/nav/footer-twitter.png"></a>
    </div>
    <div class=fleft>
      &copy; 2012 <a href=#about>GetBummer</a>. All Rights Reserved.
    </div>
  </div>
</body>
</html>
