<!DOCTYPE html>
<html>
<head>
  <title>Web</title>
  <%= include_stylesheets :all %>
  <%= include_javascripts :app %>
  <%= csrf_meta_tags %>
<script type="text/javascript">
    $(function(){
      main();
    });

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32948210-1']);
  _gaq.push(['_setDomainName', 'getbummer.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  _gaq.push(['_trackPageview', '/main']);

</script>
</head>
<body>
  <div id=main>
    <%= yield %>
  </div>
</body>
</html>
