<!DOCTYPE html>
<html>
<head>
  <title>Fuck That</title>
  <%= include_stylesheets :all %>
  <%= include_javascripts :app %>
  <%= csrf_meta_tags %>
  <script>
    $(function(){
      main();
    });
  </script>
</head>
<body>
  <div id=main>
    <%= yield %>
  </div>
</body>
</html>
