<% var gotOne = false; %>
<% _.each(thats.models, function(that) { %>
  <div class="that_div" id="that_div_<%= that.cid %>">
    <% if (!that.hide) { gotOne = true; } %>
  </div>
<% }); %>
<% if (!gotOne) { %>
  <% if (mine) { %>
    <div class="no_thats">You haven't fucked anything. Get to it, fucker!</div>
  <% } else { %>
    <div class="no_thats">No fucks <%= when %>.</div>
  <% } %>  
<% } %>
