$dark_red: #771111;
$light_blue: #e0e0ff;
$dark_blue: #111155;
$light_pink: #fff0f0;
$white: #ffffff;
$red: #ff4444;

$dark_purple: #440066;
$darker_purple: #220033;
$lighter_blue: #f0f0ff;
$light_gray: #bbbbbb;
$medium_gray: #777777;
$dark_gray: #444444;
$dark_green: #007700;
$red: #cc2222;
$light_yellow: #ffffdd;