
@import "color_theme";

.header_bar {
  background-color: $dark_red;
  padding: 5px;
}

.header_div {
  left: 0px;
  top: 0px;
  width: 780px;
  position: absolute;
}

.my_name {
  color: $white;
  font: {
    family: "comic sans ms", verdana, helvetica, arial, sans-serif;
    weight: bold;
    size: 18px;
  }
  line-height: 30px;
  padding: 0;
  padding-left: 20px;
  text-shadow: #000 1px 1px 0px;
  width: 130px;
  border-style: none;
  margin: 0;
}

.my_icon {
  margin: 5px;
}

@mixin header_text {
  color: $white;
  font-family: verdana, helvetica, arial, sans-serif;
  text-shadow: #000 1px 1px 0px;
  margin: 0;
  padding: 0;
  border-style: none;
}

.header_center {
  @include header_text;
  font-size: 18px;
  width: 450px;
  text-align: center;
}

.header_right {
  @include header_text;
  color: $light_blue;
  text-align: right;
  font-size: 14px;
  width: 150px;
}

.header_sep_text {
  color: #aaaaaa;
  font-size: 12px;
}

.header_link {
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 14px;
  text-shadow: #000 1px 1px 0px;
  text-decoration: none;
}

.header_link:link {
  &:link { color: $light_pink; }
}

.header_link:visited {
  &:visited { color: $light_pink; }
}

.header_link:hover {
  &:hover { 
    color: $white; 
    background-color: transparent; 
    text-decoration: underline; 
    cursor: hand;
  }
}

.header_link:active {
  &:active { color: white; }
}

.login_popup {
  background: $lighter_blue;
  opacity: 0.95;
  border: {
    style: solid;
    width: 1px;
    radius: 15px;
  }
}

.login_error {
  margin: 20px;
  color: $red;
  font: {
    weight: bold;
    size: 14px;
  }
}

.get_the_button_div { 
  width: 780px;
  text-align: right;
}

.get_the_button {
  color: $dark_blue;
  background-color: $light_blue;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  cursor: hand;
  font: {
    size: 14px;
    family: "comic sans ms", verdana, helvetica, arial, sans-serif;
  }
  border-radius: 5px;
}

.get_the_button:hover {
  &:hover {
    color: black;
    backgroud-color: $darker_purple;
    cursor: hand;
    text-decoration: underline;
  }
}



