<div id=fbutton class=fbutton onclick=fuckthat()>
  <a id="fuckthat_link" class="fuckthat_link" href="" target="_blank">
    <img src=/finger-16.png height=16 width=16 style=float:left>
    <div style=padding-top:2px;padding-left:2px id=fucktxt></div>
  </a>
  <div id="fuckthat_content" style="display:none"><%= @content %></div>
  <div id="fuckthat_title" style="display:none"><%= @title %></div>
</div>
