$dark_red: #771111;
$light_blue: #e0e0ff;
$dark_blue: #111155;
$light_pink: #fff0f0;
$white: #ffffff;
$red: #ff4444;
$lighter_blue: #f0f0ff;
$light_gray: #bbbbbb;
$medium_gray: #777777;
$dark_gray: #444444;
$light_yellow: #ffffdd;

$fuck_count_color: $dark_red;
$header_color: $dark_red;
$fuck_button_bgcolor: $dark_red;
$fuck_msg_color: $dark_red;
$tabs_color: $dark_red;

$get_the_button_bgcolor: $light_blue;

$that_color: $dark_blue;
$that_button_color: $dark_blue;
$active_tab_color: $dark_blue;
$get_the_button_color: $dark_blue;
$that_site_color: $medium_gray;

$fuck_button_color: $light_pink;
$header_link_color: $light_pink;

$hover_color: $white;
$body_color: $white;

$login_error_color: $red;
$havent_fucked_color: $red;

$login_popup_color: $lighter_blue;

$my_fuck_border_color: $light_gray;
$that_border_color: $light_gray;

$panel_color: $medium_gray;

$loading_color: $dark_gray;
$pacifying_border_color: $dark_gray;

$pacifying_color: $light_yellow;

