<div class="header_div" id="header_div">
</div>
<div class="login_div" id="login_div" style="display:none">
</div>
<div class="content_div" id="content_div">
  <p id="loading" class="loading">Loading</p>
</div>
<div id="master_popup">
</div>
