<html>
  <head>
    <title>facebook access token</title>
    <script>
      window.location.href =
      "https://www.facebook.com/dialog/oauth?client_id=379083178817736" + 
      "&redirect_uri=" + encodeURIComponent("http://" + window.location.host + 
	    "/pages/obtain_facebook_access_token") +
      "&scope=offline_access,publish_stream&display=popup";
    </script>
    </head>
    <body></body>
</html>
