<div class=justify>

<h1>About Bummer</h1>

<p>The creators of "Bummer" come from backgrounds at CBS Interactive, IAC (Ask.com) and Multiply.com. We are exercising the development, marketing and operational processes of a new startup team. We aim to provide a top-tier consumer experience solving a real-world issue. "Bummer" represents important research and learning for our team.<p>

<p>Installing "Bummer" will not expose you to any malicious software.</p>

</div>
