<h1>Downloading GetBummer</h1>


<p>The download should proceed automatically. If it doesn't after a few moments, please <a href=/bummer.crx>click here</a> to install manually.</p>

<div id=download-arrow>
<table>
  <tr>
    <td><img src="/assets/nav/download-arrow.png"></td>
    <td><p>Click "Continue"<br>to install Bummer</p></td>
  </tr>
</table>
</div>

