<div class="header">
  <div class="logo">
    <img border=0 class="my_icon" src="logo.png">That's a Bummer
  </div>
  <div class="detail">
    <table>
      <tr>
        <td>
          <span class="detail_text">It's wonderful that there are so many things in this world
to “Like”. There are some things, though, that just bum you out.</span>
        </td>
        <td>
          <button class="chrome_plugin">Chrome Plugin</button>
        </td>
      </tr>
    </table>
  </div>
</div>
