<div id="thats">
  <table>
    <tr>
      <td>
        <span class="panel_heading">Biggest Bummers of All Time</span>
        <div id="all_time_panel" class="panel">
        </div>
      </td>
      <td>
        <span class="panel_heading">Biggest Bummers This Week</span>
        <div id="this_week_panel" class="panel">
        </div>
      </td>
    </tr>
  </table>
</div>



