<% var gotOne = false; %>
<% _.each(thats.models, function(that) { %>
  <div class="that_div" id="that_div_<%= that.cid %>">
    <% if (!that.hide) { gotOne = true; } %>
  </div>
<% }); %>
<div class="no_thats" <%= gotOne ? 'style="display:none"' : '' %>>No fucks <%= when %>.</div>
