<div id=thats>
  <div class=thats-panel>
    <h1>Biggest Bummers This Week</h1>
    <div id="this_week_panel" class="panel">
    </div>
  </div>
  <div class=thats-panel>
    <h1>Biggest Bummers of All Time</h1>
    <div id="all_time_panel" class="panel">
    </div>
  </div>
</div>



